.left-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: start;
  background-color: $lightpink;
  width: 30%;
  height: 100%;
  position: sticky;

  &__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &__input {
      height: 2rem;
      border-radius: 1rem;
      border: 0.05rem solid $taupe;
      padding: 1rem;

      &[data-is-wrong] {
        border: 0.05rem solid $red;
      }
    }

    &__button {
      height: 2rem;
      background: none;
      border: none;

      &__image {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__current-weather {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    color: $taupe;

    &__image {
      filter: brightness(2);
      width: 12rem;
      height: 12rem;
      align-self: center;
    }

    &__temperature-block {
      display: flex;
      flex-direction: row;

      &__temp {
        font-size: 2rem;
        color: $black;
      }

      &__measure {
        font-size: 1.5rem;
      }
    }

    &__clouds {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        background-image: url("http://openweathermap.org/img/wn/03d@2x.png");
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        background-size: 2.5rem 2.5rem;
      }
    }

    &__pressure {
      display: flex;
      align-items: center;
      margin-left: 0.3rem;

      &::before {
        content: "";
        background-image: url("https://image.flaticon.com/icons/png/512/62/62848.png");
        display: inline-block;
        height: 2rem;
        width: 2rem;
        background-size: 2rem 2rem;
      }
    }
  }
}
