.main-container {
  display: flex;
  flex-direction: row;
  padding: 1rem 4rem;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $white;
  position: sticky;
  width: 100%;
  box-shadow: inset 0 0 0.4rem 0 $taupe;

  &__week-forecast {
    width: 100%;
    &__title {
      padding: 1rem;
      font-size: 2rem;
      color: $taupe;
      font-family: "Kaushan Script";
    }

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      &__item {
        background-color: $lightpink;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        box-shadow: 0.1rem 0.1rem 0.5rem $taupe;

        &__day {
          color: $taupe;
        }

        &__img {
          filter: brightness(2);
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}
